@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700&display=swap');


html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: lightsteelblue;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

#pendu {
    font-family: 'Roboto Mono', monospace;
}

#used {
    @extend #pendu;
    text-align: right;
}

#message {
    font-weight: bold;
}

.hide {
    display: none;
}

.red {
    color: red;
}

.green {
    color: green;
}

.space {
    margin-left: 20px;
}

/* ================== SVG du pendu ================== */
.cls-1, .cls-4, .cls-6, .cls-7 {
    fill: none;
  }

  .cls-1, .cls-2, .cls-3, .cls-4, .cls-6, .cls-7, .cls-8, .cls-9 {
    stroke: #000;
  }

  .cls-1, .cls-2, .cls-3, .cls-4, .cls-6, .cls-8, .cls-9 {
    stroke-linecap: round;
  }

  .cls-1, .cls-2, .cls-3, .cls-4, .cls-7 {
    stroke-miterlimit: 10;
  }

  .cls-1 {
    stroke-width: 8px;
  }

  .cls-2, .cls-3, .cls-5, .cls-8, .cls-9 {
    fill: #fff;
  }

  .cls-3, .cls-4, .cls-6, .cls-7, .cls-8 {
    stroke-width: 3px;
  }

  .cls-6, .cls-8, .cls-9 {
    stroke-linejoin: round;
  }

  .cls-9 {
    stroke-width: 2px;
  }

.hang {
    // display: none;
}

/* ================== Menu de triche ================== */
#cheatMenu {
    display: none;
}