@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700&display=swap');


html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

.responsiveMenu{
  display: none;
}

body {
    background-color: lightsteelblue;
}

#resetInput{
  height: 50px;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

#hang-guy{
  display: none;
}

.pendu{
    display: flex;
    justify-content: space-between;
}

#pendu{    
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 5px;
}

.word-group{
  display: inline-block;
  &:not(:last-child){
    margin-right: 40px;
  }
}


#message {
  margin-top: 0;
  font-weight: bold;
  min-height: 1.2em
}

.hide {
    visibility: hidden;
}

.red {
    color: red;
}

.green {
    color: green;
}

.space {
    margin-left: 20px;
}

input{
  font-size: 1.5rem;
  padding: 10px;
}

input[type="password"]{
  font-size: 16px;
}

button{ 
  font-size: 1rem;
  background-color: lightsteelblue;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  
  &:hover{
    background-color: rgb(196, 211, 230);
  }
  &:active{
    background-color: steelblue;
  }
  cursor: pointer;
  &:disabled{
    cursor: default;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

#keyboard{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  button{
    &[disabled]{
      color: rgb(158, 158, 158);
      border-color: rgb(158, 158, 158);
      &:hover{
        background-color: lightsteelblue;
      }
    }
  }
}

.letter-button{
  padding: 10px 0px 10px 0px;
  width: 32px;
  margin: 3px;
  font-weight: bold;
  // font-size: .9rem;
}

/* ================== SVG du pendu ================== */
  .cls-1, .cls-4, .cls-6, .cls-7 {
      fill: none;
    }

    .cls-1, .cls-2, .cls-3, .cls-4, .cls-6, .cls-7, .cls-8, .cls-9 {
      stroke: #000;
    }

    .cls-1, .cls-2, .cls-3, .cls-4, .cls-6, .cls-8, .cls-9 {
      stroke-linecap: round;
    }

    .cls-1, .cls-2, .cls-3, .cls-4, .cls-7 {
      stroke-miterlimit: 10;
    }

    .cls-1 {
      stroke-width: 8px;
    }

    .cls-2, .cls-3, .cls-5, .cls-8, .cls-9 {
      fill: #fff;
    }

    .cls-3, .cls-4, .cls-6, .cls-7, .cls-8 {
      stroke-width: 3px;
    }

    .cls-6, .cls-8, .cls-9 {
      stroke-linejoin: round;
    }

    .cls-9 {
      stroke-width: 2px;
    }


footer{
  p{
    text-align: center;
    margin: 2px 0;
    a{
      color: black;
      font-size: .7em;
    }
  }
}

/* ================== Menu de triche ================== */
#cheatMenu {
  display: none;
  margin-bottom: 1em;
}

@media screen and (max-width: 450px){
}

@media screen and (min-width: 610px){
  .letter-button{
    font-size: 2rem;
    width: 55px;
    height: 80px;
  }
}

@media screen and (max-width: 610px){
  .responsiveMenu{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 300px;

    #showRespMenu{
      height: 40px;
      width: 40px;
      padding: 5px;
    }
  }
  .pendu{
    flex-direction: column;
    align-items: center;
  }
  .texts{
    width: 100%;
    text-align: center;
  }
  .hang-figure{
    width: 100px;
    height: 235px;
  } 

  #pendu{
    font-size: 20px;
  }

  .menu{
    position: fixed;
    text-align: right;
    background-color: rgb(151, 177, 211);
    right: 0;
    top: 0;
    height: 100vh;
    width: 225px;
    padding: 0 10px 0 10px;
    border-left: 3px solid black;
    z-index: 100;
    #resetInput{
      display: flex;
      flex-direction: column;
    }

    transition: transform 1s;
  }

  .hideResponsiveMenu{
    transform: translateX(230px);
    transition: transform 1s;
  }

  #keyboard{
    min-height: 30px;
  }
}

@media screen and (max-height:800px) and (min-width: 610px){
  .hang-figure{
    height: calc(100vh - 390px);
  }
}

@keyframes fade-in-top {
  0% {
    position: relative;
            top: -50px;
    opacity: 0;
  }
  99% {
    position: relative;
            top: 0;
    opacity: 1;
  }
  100%{
    position: static;
  }
}

.found-anim{
  animation: fade-in-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes right {
  0%{
    color: forestgreen;
    border-color: forestgreen;
  }

  100%{
    color: #88bb88;
    border-color: #88bb88;
  }
}

.green-letter-anim{
  animation: right 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes wrong{
  0%{
    color: red;
    border-color: red;
  }

  100%{
    color: #d69b9b;
    border-color: #d69b9b;
  }
}

.red-letter-anim{
  animation: wrong 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

.shake-horizontal {
  display: inline-block;
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}